<div class="hb-section-details hb-header-directive" role="heading" aria-level="1">
    <div class="title"><h1><span ng-if="icon"><i ng-class="'icon hb-icons hb-icons-' + icon"></i></span> {{title}}</h1></div>
    <div class="sub-title">
        <p ng-if="subTitleLine1" style="display: inline-block">{{subTitleLine1}}</p>
        <p ng-if="subTitleLine2" style="display: inline-block">{{subTitleLine2}}</p>
        <p ng-if="subTitleLine3" style="display: inline-block">{{subTitleLine3}}</p>
        <a ng-if="learnMore" href="{{learnMore}}" target="_blank" class="clickable-text">Learn more</a>
    </div>
</div>
