<div class="drawer" id="omnichannelDrawer">
    <div class="drawer-container">
        <button aria-label="close drawer" class="hb-btn hb-btn-drawer-close" ng-click="$channelsCtrl.cancelEdit('omnichannelDrawer')">
            <i class="hb-icons hb-icons-Cancel"></i>
        </button>
        <img alt ng-src="/resources/images/omnichannel.svg" style="width: 30px; position: relative;top: -3px">
        <h3 style="display: inline;">Omnichannel</h3>
        <div class="drawer-main-body">
            <div style="margin-top: 15px">
                Connect your Health Bot to interact with Dynamics 365 Omnichannel users naturally through chat. <a href="https://aka.ms/HBSOmnichannel" target="_blank">Learn how</a>
            </div>
            <div class="data-item" style="margin-top: 30px">
                <div class="data-item">
                    <label>Bot Id</label>
                    <div>
                        {{$channelsCtrl.app_id}}
                        <button aria-label="copy botId to clipboard" style="position: relative; background-color: transparent;" ng-click="$app.copyToClipboard($channelsCtrl.app_id)">
                            <i class="hb-icons hb-icons-ClipboardSolid"></i>
                        </button>
                    </div>
                </div>            
            </div>    
        </div>
    </div>
    <div class="drawer-buttons">
        <button ng-if="$channelsCtrl.editing===false" class="hb-btn hb-btn-primary drawer-button" <% if (isSysAdmin || isAdmin || isEditor) { %> ng-click="$channelsCtrl.createOmniChannel()" <% } else { %> disabled <% } %>>Save</button>
        <button type="button" class="hb-btn hb-btn-secondary drawer-button" ng-click="$channelsCtrl.cancelEdit('omnichannelDrawer')">Close</button>
    </div>
</div>
