<html lang="en">
<head>
    <%- include('../common/head.ejs'); %>
    <script src="/resources/angularApps/admin-portal-v3/controllers/integration.secrets.controller.js?build=#{Build.BuildNumber}#"></script>
</head>

<body ng-app="adminPortalApp" ng-controller="dashboardCtrl as $app" ng-init="$app.init()">
<section ng-controller="secretsCtrl as $secretsCtrl" ng-init="$secretsCtrl.init()">
    <%- include('../common/body.ejs'); %>
    <%- include('../common/portal-header.ejs'); %>
    <%- include('../common/portal-navigation-panel.ejs'); %>
    <div class="application-body">
        <div class="controls-panel">
            <button class="control-button" ng-click="$secretsCtrl.init()">
                <span class="control-button-icon"><i class="hb-icons hb-icons-Refresh"></i></span>
                <span class="control-button-label">Refresh</span>
            </button>
        </div>
        <div class="data-container">
            <hb-page-header title="Secrets & Keys"
                            sub-title-line1="Manage the credentials required to integrate with bot channels."
                            learn-more="https://aka.ms/HealthBotDoc/keys"
            ></hb-page-header>
            <% if (isSysAdmin || isAdmin || isEditor) { %>
                <div class="section-title"><h4 class="section-name">Information</h4></div>
                <table class="table table-striped table-bordered" aria-label="information">
                    <tr ng-repeat="item in $secretsCtrl.information track by $index">
                        <td width="250px">
                            {{item.name}}
                        </td>
                        <td>
                            {{item.value}}
                        </td>
                        <td  width="250px">
                            <button aria-label="copy {{item.name}} to clipboard"
                                    class="hb-btn hb-btn-icon hb-btn-secondary"
                                    ng-click="$app.copyToClipboard(item.value)">
                                <i class="hb-icons hb-icons-ClipboardSolid" aria-hidden="true" ng-click="$app.copyToClipboard(item.value)"></i> Copy to clipboard
                            </button>
                        </td>
                    </tr>
                </table>
                <% if (isSysAdmin || isAdmin) { %>
                <div class="section-title"><h4 class="section-name">Secrets</h4></div>
                <table class="table table-striped table-bordered" aria-label="secrets">
                    <tr ng-repeat="secret in $secretsCtrl.secrets track by $index">
                        <td  width="250px">
                            {{secret.name}}
                        </td>
                        <td>
                            <section ng-if="secret.value && secret.value.length > 0">
                                <span class="elipsis-span">{{secret.value}}</span>
                            </section>
                        </td>
                        <td  width="250px">
                            <button aria-label="copy {{secret.name}} to clipboard"
                                    class="hb-btn hb-btn-icon hb-btn-secondary"
                                    ng-click="$app.copyToClipboard(secret.value)">
                                <i class="hb-icons hb-icons-ClipboardSolid" aria-hidden="true"></i> Copy to clipboard
                            </button>
                            <button ng-if="secret.action"
                                    aria-label="{{secret.action}}"
                                    class="hb-btn hb-btn-icon hb-btn-secondary" ng-click="$secretsCtrl.executeSecretAction(secret.action)">
                                <i class="hb-icons hb-icons-Refresh" aria-hidden="true"></i> {{secret.actionName}}
                            </button>
                        </td>
                    </tr>
                </table>
                    <div class="section-title"><h4 class="section-name">Custom Telemetry</h4></div>
                <table class="table table-striped table-bordered" aria-label="telemetry">
                    <tr>
                        <td colspan="2">
                            <div class="config-item">
                                <div class="config-item-name">
                                    Include conversation text (may include PHI) in custom telemetry
                                    <button aria-label="Custom telemetry will include the text content of messages that are sent between the end users and your Health Bot instance." class="info-button" tabindex="54">
                                        <div class="hb-hover-info ng-binding">Custom telemetry will include the text content of messages that are sent between the end users and your Health Bot instance.</div>
                                    </button>
                                </div>
                                <button role="switch" aria-label="custom telemetry" aria-checked="true" class="hb-btn hb-btn-toggle" ng-click="$secretsCtrl.toggleCustomTelemetryPHI()" tabindex="55">
                                    <div ng-class="$secretsCtrl.customTelemetryPHI ? 'hb-toggle hb-toggle-checked' : 'hb-toggle'" hb-on="On" hb-off="Off"></div>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="250px">
                            App Insights Instrumentation key
                        </td>
                        <td>
                            <input aria-label="application insights instrumentation key " type="text" class="form-control" id="instrumentation_key" name="instrumentation_key" ng-model="$secretsCtrl.instrumentationKey">
                        </td>
                        <td width="250px">
                            <button aria-label="update application insights instrumentation key"
                                    class="hb-btn hb-btn-icon hb-btn-secondary"
                                    ng-click="$secretsCtrl.updateInstrumentationKey($secretsCtrl.instrumentationKey)">
                                <i class="hb-icons hb-icons-Save" aria-hidden="true"></i> Save
                            </button>
                        </td>
                    </tr>
                </table>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="portal-modal">
        <div id="instrumentationKeyDisclaimerPopup" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title">
                            <button class="hb-btn hb-btn-close-modal" aria-label="close modal" data-dismiss="modal"><i class="hb-icons hb-icons-Cancel"></i></button>
                            Disclaimer
                        </div>
                        <div class="content">
                            <section>
                                Providing the instrumentation key will send all conversation data to your Application Insights account. You are responsible for honoring all Data Subject Rights Request (DSR) to delete PHI
                                <br/>
                                <br>Are you sure?</br>
                            </section>
                        </div>
                        <div class="actions">
                            <button type="button" class="hb-btn hb-btn-primary" ng-click="$secretsCtrl.continueWithUpdateInstrumentationKey()" data-dismiss="modal">Continue</button>
                            <button id="dismissDelete" type="button" class="hb-btn hb-btn-secondary" ng-click="$secretsCtrl.cancelUpdateInstrumentationKey()" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
