<form ng-submit="ok()" novalidate name="elementForm">
    <div class="modal-header">
        <input ng-if="!uibCtrl._labledTitle_" value="Branch" name="label" type="text" class="form-control label-editor-field label-editor-field-disabled">
        <span   ng-if="!uibCtrl._labledTitle_" class="fa fa-pencil label-editor-field-icon" ng-click="uibCtrl._activateLabeledTitle(element, 'Branch')"></span>

        <input ng-if="uibCtrl._labledTitle_" ng-model="element.label" name="label" id="label-input-box" type="text" class="form-control label-editor-field">
        <span  ng-if="uibCtrl._labledTitle_" class="fa fa-eraser label-editor-field-icon" ng-click="uibCtrl._disableLabeledTitle(element, 'Branch')"></span>
    </div>
    <div class="modal-body">
        <!-- Text input-->
         <div class="form-group">
            <label for="condition">javascript boolean expression:</label>
            <div class="MonacoEditor-Large" id="boolean-expression-text-area" ui-monacoeditor ui-monacoeditor-opts="monacoEditorOptions" autocomplete="variables" ng-model="element.condition"  id="condition" name="condition"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="hb-btn hb-btn-primary" ng-disabled="elementForm.$invalid">OK</button>
        <button type="button" class="hb-btn hb-btn-secondary" ng-click="cancel()">Cancel</button>
    </div>
</form>