<form ng-submit="ok()" novalidate name="elementForm">
    <div class="modal-header">
        <input ng-if="!uibCtrl._labledTitle_" value="Switch" name="label" type="text" class="form-control label-editor-field label-editor-field-disabled">
        <span   ng-if="!uibCtrl._labledTitle_" class="fa fa-pencil label-editor-field-icon" ng-click="uibCtrl._activateLabeledTitle(element, 'Switch')"></span>

        <input ng-if="uibCtrl._labledTitle_" ng-model="element.label" name="label" id="label-input-box" type="text" class="form-control label-editor-field">
        <span  ng-if="uibCtrl._labledTitle_" class="fa fa-eraser label-editor-field-icon" ng-click="uibCtrl._disableLabeledTitle(element, 'Switch')"></span>
    </div>
    <div class="modal-body">
        <!-- Text input-->
         <div class="form-group">
            <label for="condition">Switch on javascript expression:</label>
            <div class="MonacoEditor-Inline" ui-monacoeditor ui-monacoeditor-opts="monacoEditorOptions" required autocomplete="variables" ng-model="element.condition"  id="condition" name="condition"></div>             
        </div>

        <div class="form-group">
            <label>Switch cases</label>
        </div>
        <div class="switch-panel" id="cases-list">
            <div ng-repeat="case in element.cases track by $index">
                <div class="row form-group">
                    <div class="col-lg-11"> 
                        <input id="value{{$index}}" ng-model="case.value" name="value" required type="text" placeholder="case value" class="form-control" ng-keydown="keyDownHandlerSwitch($event, $index)" autocomplete="off">
                    </div>
                    <div class="col-lg-1" style="margin-left:-20px;"> 
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <span class="clickable-text" style="line-height: 27px;" ng-click="removeCase($index)">remove</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="hb-btn hb-btn-secondary" ng-click="addCase()">Add Case</button>

    </div>
    <div class="modal-footer">
        <button type="submit" class="hb-btn hb-btn-primary" ng-disabled="elementForm.$invalid">OK</button>
        <button type="button" class="hb-btn hb-btn-secondary" ng-click="cancel()">Cancel</button>
    </div>
</form>